*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #034071;
}
section .runway
{
    position: relative;
    width: 400px;
    height: 100vh;
    background: #1378bc;
    border-left: 20px solid rgba(0, 0, 0, 0.25);
    border-right: 20px solid rgba(0, 0, 0, 0.25);
    transition: transform 1s;
    transition-delay: 1s;
    transform-origin: top;
}
/*Left click and hold fly*/
/*plane landing on releasing left click*/
section:active .runway
{
    transform: scaleX(0.7) scaleY(0);
    transition-delay: 0s;
    transform-origin: bottom;
}
section .runway::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 100%;
    background: repeating-linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
    background-size: 20px 320px;
    animation: animateRunway 0.5s linear infinite;
}
section:activate .runway::before
{
    animation: animateRunway 0.25s linear infinite;
}
@keyframes animateRunway
{
    0%
    {
        background-position-y: 0px;
    }
    100%
    {
        background-position-y: 640px;
    }
}
.plane
{
    position: absolute;
    bottom: 100px;
    max-width: 250px;
    pointer-events: none;
    filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.5));
    transition: 5s;
}
section:active .plane
{
    max-width: 500px;
    filter: drop-shadow(200px 200px 0 rgba(0, 0, 0, 0));
}
.clouds
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 2s;
    transition-delay: 0s;
}
section:active .clouds
{
    opacity: 1;
    transition-delay: 1s;   
}
.clouds img
{
    position: absolute;
    left: 0;
    width: 800px;
    animation: animateClouds 4s linear infinite;
    animation-delay: calc(-1.5s * var(--i));
}
.clouds2
{
    right: 0;
    transform: rotate(180deg);
}
.clouds2 img
{
    animation: animateClouds2 4s linear infinite;
    animation-delay: calc(-1.5s * var(--i));
}
@keyframes animateClouds
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
@keyframes animateClouds2
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}