body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    min-width: 30vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
}

.delete-button {
    background-color: #ff4444;
    color: #fff;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
}