/* General Styles */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
}

header {
    background-color: #866c9c;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

header p {
    font-size: 18px;
}

/* Product Listings */
.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

button.add-to-cart {
    background-color: #00a86b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.add-to-cart:hover {
    background-color: #007f52;
}

/* Shopping Cart */
.cart {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px #888888;
}

.cart h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    position: relative;
}

#cart-total {
    font-size: 18px;
    font-weight: bold;
}
#cart-items img {
    max-width: 50px; /* Adjust the desired width */
    max-height: 50px; /* Adjust the desired height */
}

#cart-items img {
    max-width: 50px; /* Adjust the desired width */
    max-height: 50px; /* Adjust the desired height */
    position: relative;
    padding-right: 25px;
    padding-left: 610px;
}

#cart-items li button {
    margin-left: 10px;
}

footer {
    background-color: #866c9c;
    color: #fff;
    text-align: center;
    padding: 10px;
}