*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
    background-color:black ;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #f7f4f4;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #f8f3f3;
}
/* menu btn styling */
.menu-btn{
    color: #f7f4f4;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.left{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}