h1 {
	color: orangered;
	margin-bottom: -5px;
}
p {
	margin-bottom: -10px;
}
.ui {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row {
	display: flex;
}
.cell {
	border: none;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}
.cell:active {
	outline: none;
}
/* 3*3 Grid */
#b1{
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

#b2 {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

#b3 {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}

#b4 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}
	
#b5 {
	border: 1px solid gray;
}

#b6 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}

#b7 {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
}

#b8 {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

#b9 {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}
/* Reset Button */
#but {
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	border: 1px solid dodgerblue;
	margin-left: auto;
	border-radius: 8px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: whitesmoke;
	color: dodgerblue;
	font-size: 20px;
	cursor: pointer;
}

/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: dodgerblue;
	font-size: 20px;
}

/* Main Container */
#main {
	text-align: center;
}

/* Game Instruction Text */
#ins {
	font-family: Verdana,Geneva,
					Tahoma, sans-serif;
	color: dodgerblue;
}
