*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 114, 144);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box{
    width: 40%;
    height: 400px;
    box-shadow: 0px 0px 5px gray;
    background-color: bisque;
    border-radius: 5px;
    padding: 15px;
}

.row{
    width: 100%;
    margin: 2rem;
    margin-left: 0;
}

.btn{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: bisque;
    cursor: pointer;
    background-color: cadetblue;

}

.btn:hover{
    background-color: blue;

    color: brown;
}