body {
    background-image: url('station.jpg');
    
  }
  .cover {
    text-align: center;
    background: white;
    border: 2px black solid;
    border-radius: 2px;
    width: 360px;
    padding: 3em;
    margin-left: 13em;
    margin-top: 11em;
    height: 300px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px;
  }
  .first {
    margin-left: 20px;
    text-align: auto;
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
  button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 1.2em;
  }
  #save {
    background-color: black;
    margin-top: 12px;
  }
  #count {
    background: black;
  }
  button:hover {
    box-shadow: 2px 2px 5px;
  }
  h2 {
    font-weight: bold;
  }
  p {
    font-weight: bold;
  }
  