    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: #111111;
    }

    .honeycomb {
      /* display: -webkit-box; */
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      box-pack: center;
      justify-content: center;
      box-align: center;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
      transform: translateY(80px);
    }

    .honeycomb-cell {
      /* -webkit-box-flex: 0; */
      flex: 0 1 250px;
      max-width: 250px;
      height: 137.5px;
      margin: 65.4761904762px 12.5px 25px;
      position: relative;
      padding: 0.5em;
      text-align: center;
      z-index: 1;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .honeycomb-cell_title {
      height: 100%;
      display: -webkit-box;
      display: flex;
      box-orient: vertical;
      box-direction: normal;
      flex-direction: column;
      box-pack: center;
      justify-content: center;
      /* -webkit-hyphens: auto;
      -ms-hyphens: auto; */
      hyphens: auto;
      word-break: break-word;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      font-size: 1.75em;
      /* -webkit-transition: opacity 350ms; */
      transition: opacity 350ms;
    }

    .honeycomb-cell_title>small {
      font-weight: 300;
      margin-top: 0.25em;
    }

    .honeycomb-cell_image {
      object-fit: cover;
      object-position: center;
      filter: grayscale(100%);

    }


    .honeycomb-cell::before,
    .honeycomb-cell::after {
      content: '';
    }

    .honeycomb-cell::before,
    .honeycomb-cell::after,
    .honeycomb-cell_image {
      top: -50%;
      left: 0;
      width: 100%;
      height: 200%;
      display: block;
      position: absolute;
      /* -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      z-index: -1;
    }

    .honeycomb-cell::before {
      background: #fff;
      /* -webkit-transform: scale(1.055); */
      transform: scale(1.055);
    }

    .honeycomb-cell::after {
      background: #111111;
      opacity: 0.7;
      /* -webkit-transition: opacity 350ms; */
      transition: opacity 350ms;
    }

    .honeycomb-cell:hover .honeycomb-cell_title {
      opacity: 0;
    }

    .honeycomb-cell:hover .honeycomb-cell_image {
      filter: grayscale(0%);
    }

    .honeycomb-cell:hover::before {
      background: #fc5130;
    }

    .honeycomb-cell:hover::after {
      opacity: 0;
    }

    .honeycomb_placeholder {
      display: none;
      opacity: 0;
      width: 250px;
      margin: 0 12.5px;
    }

    @media (max-width: 550px) {
      .honeycomb-cell {
        margin: 81.25px 25px;
      }
    }

    @media (min-width: 550px) and (max-width: 825px) {
      .honeycomb-cell:nth-child(3n) {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
      }

      .honeycomb_placeholder:nth-child(3n + 5) {
        display: block;
      }
    }

    @media (min-width: 825px) and (max-width: 1100px) {
      .honeycomb-cell:nth-child(5n + 4) {
        margin-left: calc(50% - 275px);
      }

      .honeycomb-cell:nth-child(5n + 5) {
        margin-right: calc(50% - 275px);
      }

      .honeycomb_placeholder:nth-child(5n),
      .honeycomb_placeholder:nth-child(5n + 3) {
        display: block;
      }
    }

    @media (min-width: 1100px) {
      .honeycomb-cell:nth-child(7n + 5) {
        margin-left: calc(50% - 400px);
      }

      .honeycomb-cell:nth-child(7n + 7),
      .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
        margin-right: calc(50% - 400px);
      }

      .honeycomb_placeholder:nth-child(7n + 7),
      .honeycomb_placeholder:nth-child(7n + 9),
      .honeycomb_placeholder:nth-child(7n + 11) {
        display: block;
      }
    }
