body {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  margin: 0;
  padding: 0; 
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.card {
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 80%;
    margin: 10% auto;
    background-color: #fff;
    height: 310px;
  }
  

.card-content {
  text-align: center;
}

#getJokeBtn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}

#getJokeBtn:hover {
  background-color: #0056b3;
}

p {
  font-size: larger;
}